{% if this.theme.load_wow_js %}
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/graingert-wow/1.2.0/wow.min.js"></script> -->
  <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
{% endif %}
{% if this.theme.load_owl_carousel %}
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/owl.carousel.min.js"></script> -->
  <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
{% endif %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>