==
<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/tv_mount_types.jpg'|theme }}" alt="image"></div>
    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding center">
      <div class="lt-col col s12">
        <h2 class="lt-title">TV Mount Types</h2>
      </div>
      <div class="lt-col col s12">
        <ul id="lt-materializecss-tab" class="lt-tabs tabs">
          <li class="tab lt-col col s4"><a class="active" href="#lt-materializecss-tab1">Swivel</a></li>
          <li class="tab lt-col col s4"><a href="#lt-materializecss-tab2">Tilt</a></li>
          <li class="tab lt-col col s4"><a href="#lt-materializecss-tab3">Full 360</a></li>
        </ul>
      </div>
      <div id="lt-materializecss-tab1" class="lt-tab-content lt-col col s12">
        <p>Swivel Mounts are best used for where you want the TV to be viewable from two different Angles, such as a Living Room / Dining Room. You can swivel the TV while you eat and turn it back while back in the living room.</p>
      </div>
      <div id="lt-materializecss-tab2" class="lt-tab-content lt-col col s12">
        <p>Tilt mounts are limited in the Right to Left motion but offer a limited Up and Down tilt. These mounts comes in Slim profile to get a real cool picture frame look. These mounts are recommended for Fireplaces as it allows the TV to be tilted down for an optimal viewing angle.</p>
      </div>
      <div id="lt-materializecss-tab3" class="lt-tab-content lt-col col s12">
        <p>These mounts are usually used in Businesses and are attached to the Ceiling - not to the wall. This type of Ceiling mount allows for a full 360 rotation along with tilt.</p>
      </div>

      <!-- <a href="#lt-video-materializecss" class="btn-floating btn-large z-depth-0 lt-modal-trigger modal-trigger">
        <i class="large material-icons">play_arrow</i>
      </a> -->
      <div id="lt-video-materializecss" class="modal">
        <div class="modal-content">
          <div class="video-container">
            <iframe src="#" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding center">
      <div class="lt-col col s12">
        <h2 class="lt-title">Home Automation</h2>
      </div>
      <div class="lt-col col s12">
        <ul id="lt-octobercms-tab" class="lt-tabs tabs">
          <li class="tab lt-col col s4"><a class="active" href="#lt-octobercms-tab1">Lights</a></li>
          <li class="tab lt-col col s4"><a href="#lt-octobercms-tab2">Remote</a></li>
          <li class="tab lt-col col s4"><a href="#lt-octobercms-tab3">Optimize</a></li>
        </ul>
      </div>
      <div id="lt-octobercms-tab1" class="lt-tab-content lt-col col s12">
        <p>Do you want to control your lights with your remote? Or turn the lights dim when you turn on the TV? Great, because we offer equipment along with installation when it comes to these features.</p>
      </div>
      <div id="lt-octobercms-tab2" class="lt-tab-content lt-col col s12">
        <p>Do you have 5 remotes to control all your peripherals? We sell and configure Advanced Universal Remotes that allow Learning and Macros that will control all your equipment and know what to turn on and off depending what you want to watch/listen to.</p>
      </div>
      <div id="lt-octobercms-tab3" class="lt-tab-content lt-col col s12">
        <p>High-end equipment comes with a manual, but its not easily configured. We excel in getting the most out of your priced purchases.</p>
      </div>

      <!-- <a href="#lt-video-octobercms" class="btn-floating btn-large z-depth-0 lt-modal-trigger modal-trigger">
        <i class="large material-icons">play_arrow</i>
      </a> -->
      <div id="lt-video-octobercms" class="modal">
        <div class="modal-content">
          <div class="video-container">
            <iframe src="#" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/home_automation_nj.jpg'|theme }}" alt="image"></div>
    </div>
  </div>
</div>